<% if resource.errors.any? %>
  <div id="error_explanation">
    <ul>
      <% resource.errors.full_messages.each do |message| %>
        <li style="list-style-type: none; margin-left: -2rem;">
          <span class="badge badge-sm bg-gradient-danger"><%= message %></span>
        </li>
      <% end %>
    </ul>
  </div>
<% end %>
