<div class="card px-0 pb-2">
  <ul class="nav nav-tabs">
    <li class="nav-item">
      <%= link_to "All", results_path, class: "nav-link" %>
    </li>
    <li class="nav-item">
      <%= link_to "Accepted List", active_candidates_path, class: "nav-link" %>
    </li>
    <li class="nav-item">
      <%= link_to "Rejected List", rejected_candidates_path, class: "nav-link" %>
    </li>
  </ul>
</div>
