<div class="card px-0 pb-2">
  <ul class="nav nav-tabs">
    <li class="nav-item">
      <%= link_to "List", users_path, class: "nav-link" %>
    </li>
    <li class="nav-item">
      <%= link_to "Add New Candidate", new_user_path, class: "nav-link" %>
    </li>
    <li class="nav-item">
      <%= link_to "Import", user_import_path, class: "nav-link" %>
    </li>
  </ul>
</div>
